<html>
  <div class="back_ground_waxes_range">
    
    <div class
  	<div class="setwet_logo">
      <%= image_submit_tag("setwet_logo.png", :class => "setwet_range_position") %>
  	</div>

  	<div class="link_in_waxes" >
  		<%= link_to "SO, GO ON,GET VERY VERY SEXY.", "#", html_options = {:class => "wax_link_styling"} %>
    </div>

    <a href="#"><div class="glaze_wax_text">AFTER HOURS <br/> GLAZE WAX</div> </a>
    
    <div class="glaze_wax_image">
      <%= image_submit_tag("glaze_wax.png", :class => "setwet_glaze_position") %>
  	</div>

  	<a href="#"><div class="shock_wave_text">SHOCK WAVE <br/> STYLING CLAY</div> </a>
    
    <div class="glaze_wax_image">
      <%= image_submit_tag("shock_wave.png", :class => "setwet_shock_position") %>
  	</div>

  	<a href="#"><div class="free_styler_text">FREESTYLER <br/> MATT WAX</div> </a>
    
    <div class="glaze_wax_image">
      <%= image_submit_tag("freestyler_wax.png", :class => "setwet_freestyler_position") %>
  	</div>

  	<a href="#"><div class="amoeba_text">AMOEBA FIBRE <br/> GUM</div> </a>
    
    <div class="glaze_wax_image">
      <%= image_submit_tag("amoeba_wax.png", :class => "setwet_amoeba_position") %>
  	</div>
  <div>	
<html>
