
      <div id="screen_5" style="width:1024px;height:780px;background:url(/assets/screen5_bg.jpg) no-repeat;">

        <div id="wax_options">
          <div id="red_box">
            <a href="javascript:void(0)">
              <div class="open_popup" id="red_wax_1" style='position:absolute;left:300px;top:441px;z-index:4'>           
              <img id="red_pop" src="/assets/screen5_red.png" onclick="" class="" title="SET WET AFTER HOURS GLAZE WAX" style="" alt="setwet after hours glaze wax"/>     
              </div>
            </a>
            <div id="red_popup" style='position:absolute;left:282px;top:434px;z-index:14'>     <img id="" src="/assets/screen6_red.png" onclick="" class="" title="SET WET AFTER HOURS GLAZE WAX" style="" alt="setwet after hours glaze wax"/>  
      
            </div>
            
          </div>
          
          <div id="green_box">
            <a href="javascript:void(0)">
            <div class="open_popup"  id="green_wax_3" style='position:absolute;left:599px;top:440px;z-index:'>     <img id="green_pop" src="/assets/screen5_green.png" onclick="" class="" title="SET WET FREESTYLER MATT WAX" style="" alt="setwet freestyler matt wax"/>  
            </div>
            </a>
            
            <div id="green_popup" style='position:absolute;left:579px;top:434px;z-index:14'>     <img id="" src="/assets/screen6_green.png" onclick="" class="" title="SET WET FREESTYLER MATT WAX" style="" alt="setwet freestyler matt wax"/>  
            </div>   
          </div>  
          
          <div id="yellow_box">
            
            <a href="javascript:void(0)">
              <div class="open_popup"  id="yellow_wax_2" style='position:absolute;left:459px;top:357px;z-index:13'>     <img id="yellow_pop" src="/assets/screen5_yellow.png" onclick="start_carousel(this.id)" class="" title="SET WET SHOCK WAVE STYLING CLAY" style="" alt="set wet shock wave styling clay"/>  
              </div>
            </a>
            <div id="yellow_popup" style='position:absolute;left:432px;top:434px;z-index:14'>     <img id="" src="/assets/screen6_yellow.png" onclick="" class="" title="SET WET SHOCK WAVE STYLING CLAY" style="" alt="set wet shock wave styling clay"/>  
            </div>  
          </div>
          
          <div id="blue_box">
            <a href="javascript:void(0)">
              <div class="open_popup" id="blue_wax_4" style='position:absolute;left:750px;top:357px;z-index:'>     <img id="blue_pop" src="/assets/screen5_blue.png" onclick="start_carousel(this.id)" class="" title="SET WET AMOEBA FIBRE GUM" style="" alt="setwet amoeba fibre gum"/>
              </div>
            </a>
              <div id="blue_popup" style='position:absolute;left:727px;top:434px;z-index:14'>     <img id="" src="/assets/screen6_blue.png" onclick="" class="" title="SET WET AMOEBA FIBRE GUM" style="" alt="setwet amoeba fibre gum"/>  
              </div>    

          </div>
      <a href="/">
        <div class="open_popup" style='position:absolute;left:871px;top:295px;z-index:'>     <img id="" src="/assets/setwet_logo.png" alt="setwet logo"/>  
        </div>
      </a>
     </div>

      
        <div id="wax_content" style='position:absolute;left:603.9999847412109px;top:344.5px;z-index:3'>     <div id="" class="" style="" onclick=""></div>  
          
        </div>
      


     <div id="wax_names">
      
      <a href="javascript:void(0)">
              <div class="open_popup"  style='position:absolute;left:294px;top:392px;z-index:10'>     <div id="glaxe_wax" class="" style="color:#1b9ad3;font-style: italic;font-size:16px;font-family:setwet;font-weight:bold;" onclick="start_carousel(this.id)">AFTER HOURS</br>&nbsp;GLAXE WAX</div>  
              </div>
            </a>
      <a href="javascript:void(0)">
      <div class="open_popup"  style='position:absolute;left:440px;top:452px;z-index:auto'>      <div id="shock_wax" class="" style="color:#1b9ad3;font-style: italic;font-weight:bold;font-size:16px;font-family:setwet;" onclick="start_carousel(this.id)">&nbsp;SHOCK WAVE<br/>STYLING CLAY</div>  
      
      
      
      </div>
      </a>
    
      <a href="javascript:void(0)">
      <div class="open_popup"  style='position:absolute;left:594px;top:392px;z-index:12'>     <div id="matt_wax" class="" style="color:#1b9ad3;font-style: italic;font-size:16px;font-family:setwet;font-weight:bold;" onclick="start_carousel(this.id)">FREESTYLER<br/>&nbsp;MATT WAX</div>  
      
      
      
      </div>
      </a>
      <a href="javascript:void(0)">
      <div class="open_popup"  style='position:absolute;left:748px;top:450px;z-index:13'>     <div id="amoeba_wax" class="" style="color:#1b9ad3;font-style: italic;font-size:16px;font-family:setwet;font-weight:bold;" onclick="start_carousel(this.id)">&nbsp;AMOEBA<br> FIBRE GUM</div>  
      
      
      
      </div>
      </a>
    </div>  


      <a href="/howto">
        <div style='position:absolute;left:262px;top:49px;z-index:'>     <div id="" class="" style="font-style:italic;font-family:setwet;font-weight:bold;font-size:16px;" onclick="">GET THE PERFECT HAIRSTYLE WITH OUR STYLING VIDEOS
        </div>  
        </div>
      </a>

      <a href="/howto">
        <div style='position:absolute;left:814px;top:40px;z-index:5'>     <img id="" src="/assets/watch_video.png" onclick="" class="" title="Image title" style="" alt="Image Alt value"/> 
      </div>
    </a>


      <%= render "links" %>
      <%= render "layouts/footer.html.erb" %>
      
      <script>
       $(document).ready(function () {
          $('#red_popup').hide();
          $('#green_popup').hide();
          $('#yellow_popup').hide();
          $('#blue_popup').hide();
       });
       var hovered = false;

       $('#red_box').hover( function() { $('#red_popup').stop(true, true).fadeIn(); },
         function() { $('#red_popup').stop(true, true).fadeOut(); }
       );        
       
       $('#green_box').hover( function() { $('#green_popup').stop(true, true).fadeIn(); },
         function() { $('#green_popup').stop(true, true).fadeOut(); }
       );  
        
       $('#yellow_box').hover( function() { $('#yellow_popup').stop(true, true).fadeIn(); },
         function() { $('#yellow_popup').stop(true, true).fadeOut(); }
       );   
       
       $('#blue_box').hover( function() { $('#blue_popup').stop(true, true).fadeIn(); },
         function() { $('#blue_popup').stop(true, true).fadeOut(); }
       );
       

      </script>
<!-- implement slider -->
<html>
<head>

<style type='text/css'>
#thevideo { 
  position: absolute; 
  left: 75px;
  top: 105px;
}


#myCarousel {
  /*margin-top: 40px;*/
  position: absolute;
  width: 535px;
  height: 257px;
  left: 335px;
  top: 212px;
}

.carousel-linked-nav,
.item img {
  display: block; 
  margin: 0 auto;
}

.carousel-linked-nav {
  width: 80px;
  margin-bottom: 20px;   
}
</style>
</head>
</html>

<body>
  <div id="myCarousel" class="carousel slide" style="display: none">
    <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
	  <div style="position:absolute;top:120px;left:260px;width:230px;color:#ffffff;font-style: italic; font-size: 16px">
	   SAME IS BORING. TRY SOMETHING NEW WITH THE AFTER HOURS GLAZE WAX. IF MAXIMUM SHINE AND MODERATE HOLD IS YOUR THING, THEN IT’S JUST THE HAIR WAX YOU NEED FOR A NIGHT IN THE TOWN.
	  </div> 	  
	  <div style="position:absolute;top:325px;left:180px;width:280px;color:#ffffff;">
	    <div style="float:left;margin:5px 10px;cursor:pointer;font-style: italic;width:120px;" onclick="start_video('oCP2abhZ6hE')">
	      EMO <img src="/assets/red_arrow.png" style="float:left;width:15px;height:15px;" />
	    </div>
	    <div style="float:left;margin:5px 10px;cursor:pointer;font-style: italic;width:120px;" onclick="start_video('LP2UjkqFVeQ')">
	      SHINY DISC<img src="/assets/red_arrow.png" style="float:left;width:15px;height:15px;" />
	    </div>
	    <div style="float:left;margin:5px 10px;cursor:pointer;font-style: italic;width:120px;" onclick="start_video('OMIu7jQnq-Q')">
	      GLAMZONE<img src="/assets/red_arrow.png" style="float:left;width:15px;height:15px;" />
	    </div>
	    <div style="float:left;margin:5px 10px;cursor:pointer;font-style: italic;width:120px;" onclick="start_video('KwVaauEK6Gg')">
	      STONY WAVE<img src="/assets/red_arrow.png" style="float:left;width:15px;height:15px;" />
	    </div>
	  </div> 
          <img id="1" src="/assets/screen7_red.png" />
        </div>
        <div class="item">
	  <div style="position:absolute;top:120px;left:260px;width:265px;color:#ffffff;font-style: italic; font-size: 16px">
	    SHOCK YOUR HAIR INTO SUBMISSION WITH SHOCK WAVE STYLING CLAY. STRONG HOLD WILL GIVE YOU MORE CONTROL AND A LONG LASTING EFFECT WHILE THE LOW SHINE QUOTIENT WILL ENHANCE YOUR UNDERSTATED LOOKS.
	  </div> 	  
	  <div style="position:absolute;top:325px;left:180px;width:300px;color:#ffffff;">
	    <div style="float:left;margin:5px 10px;cursor:pointer;font-style: italic;width:100px;" onclick="start_video('bNUrOz3lM5U')">
	      MOHAWK <img src="/assets/yellow_arrow.png" style="float:left;width:15px;height:15px;" />
	    </div>
	    <div style="float:left;margin:5px 10px;cursor:pointer;font-style: italic;width:160px;" onclick="start_video('8vkk4znM4Kw')">
	      TEXTURE CROP<img src="/assets/yellow_arrow.png" style="float:left;width:15px;height:15px;" />
	    </div>
	    <div style="float:left;margin:5px 10px;cursor:pointer;font-style: italic;width:120px;" onclick="start_video('LP2UjkqFVeQ')">
	      SPIKES<img src="/assets/yellow_arrow.png" style="float:left;width:15px;height:15px;" />
	    </div>
	  </div> 
          <img id="2" src="/assets/screen7_yellow.png" />
        </div>
        <div class="item">
	  <div style="position:absolute;top:120px;left:260px;width:230px;color:#ffffff;font-style: italic; font-size: 16px">
	    WITH FREESTYLE MATT WAX, ADD VOLUME AND TEXTURE AND MINUS THE SHINE. IT IS THE PERFECT HAIR WAX FOR THAT SUAVE, RUGGED LOOK.
	  </div> 
	  <div style="position:absolute;top:325px;left:180px;width:280px;color:#ffffff;">
	    <div style="float:left;margin:5px 10px;cursor:pointer;font-style: italic;width:120px;" onclick="start_video('PGnX5TX36Bs')">
	      ELVISY <img src="/assets/green_arrow.png" style="float:left;width:15px;height:15px;" />
	    </div>
	    <div style="float:left;margin:5px 10px;cursor:pointer;font-style: italic;width:120px;" onclick="start_video('TRSJOV-mjw0')">
	      LONG CREW<img src="/assets/green_arrow.png" style="float:left;width:15px;height:15px;" />
	    </div>
	    <div style="float:left;margin:5px 10px;cursor:pointer;font-style: italic;width:120px;" onclick="start_video('tlJhZ4GQnEU')">
	      SHAPERON<img src="/assets/green_arrow.png" style="float:left;width:15px;height:15px;" />
	    </div>
	    <div style="float:left;margin:5px 10px;cursor:pointer;font-style: italic;width:120px;" onclick="start_video('q8HBIwdtUDM')">
	      WOLVER<img src="/assets/green_arrow.png" style="float:left;width:15px;height:15px;" />
	    </div>
	  </div> 
          <img id="3" src="/assets/screen7_green.png" />
        </div>  
        <div class="item">
	  <div style="position:absolute;top:120px;left:260px;width:230px;color:#ffffff;font-style: italic; font-size: 16px">	    
	    HOW MUCH SHINE, RE-STYLABILITY, AND HOLD CAN YOU FIT INTO A TUB OF HAIR WAX? JUST ENOUGH TO MAKE YOUR HAIR GROOVE TO YOUR COMMAND. FOR THOSE WHO LIKE TO LIVE ON THE EDGE.
	  </div> 
	  <div style="position:absolute;top:325px;left:180px;width:330px;color:#ffffff;">
	    <div style="float:left;margin:5px 10px;cursor:pointer;font-style: italic;width:120px;" onclick="start_video('jRYY5btXxpQ')">
	      GRADUATE <img src="/assets/blue_arrow.png" style="float:left;width:15px;height:15px;" />
	    </div>
	    <div style="float:left;margin:5px 10px;cursor:pointer;font-style: italic;width:150px;" onclick="start_video('vsHwWnYwTLs')">
	      SMOOTH RIDER<img src="/assets/blue_arrow.png" style="float:left;width:15px;height:15px;" />
	    </div>
	    <div style="float:left;margin:5px 10px;cursor:pointer;font-style: italic;width:120px;" onclick="start_video('XCJ5ta6XPHM')">
	      CYCLOPS<img src="/assets/blue_arrow.png" style="float:left;width:15px;height:15px;" />
	    </div>
	    <div style="float:left;margin:5px 10px;cursor:pointer;font-style: italic;width:150px;" onclick="start_video('5sq21ezyLbk')">
	      MIDNIGHT CLOUD<img src="/assets/blue_arrow.png" style="float:left;width:15px;height:15px;" />
	    </div>
	  </div> 

          <img id="4" src="/assets/screen7_blue.png" />
        </div>        
      </div>
    <!-- Carousel nav -->
    <a href="#myCarousel" data-slide="prev" style="position:absolute;z-index:20;top:370px;left:-25px;"><img src="/assets/left.png"/></a>
    <a href="#myCarousel" data-slide="next" style="position:absolute;z-index:20;top:370px;left:535px;"><img src="/assets/right.png"/></a>
  </div>  
  <div style="position:absolute; display: block; z-index: 100; top: 80px; left: 120px;display:none;" id="large_youtube"></div>
  
  <div id="big_video_div" style="position:absolute;left:7%;px;top:85px;z-index:100;border:5px solid #fafafa;display:none;"> 
    <div style="height:500px;width:750px;background:#e0e0e0;padding:20px;">    
      <div style="position:absolute;left:770px;top:-19px;z-index:500;width:36px">
	<img onclick="hide_video();" style="cursor:pointer;" src="/assets/cross-button.png" />                  
      </div>
      <div id="afterVideoOption" style="position:relative;z-index:30;">
	<img id="afterVideoImg" src="<%= @data[1][4] %>" style="width:685px;margin-left:35px;"/>      
	<img src="/assets/reply-button.png" style="position:absolute;bottom:20px;left:325px;cursor:pointer;" onclick="replayVideo();"/>      
      </div>
    </div> 
  </div>



</body>

<script type="text/javascript">
var videoData = {};
<%
   @data.each do|value|
%>
  videoData['<%= value[3] %>'] = "<%= value[4] %>";
<% end %>



var video_id = "";
// 2. This code loads the IFrame Player API code asynchronously.
var tag = document.createElement('script');
tag.src = "//www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

// 3. This function creates an <iframe> (and YouTube player)
    // after the API code downloads.
    var player;
    function onYouTubeIframeAPIReady() {
    if(video_id != "") {
      player = new YT.Player('large_youtube', {
      height: '600',
      width: '750',
      videoId: video_id,
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
      });
    }
    }
    
    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
      event.target.playVideo();
    }
   
    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    var done = false;
    function onPlayerStateChange(event) {
    if((event.data == YT.PlayerState.PLAYING) || (event.data == YT.PlayerState.BUFFERING) || (event.data == YT.PlayerState.CUED)) {
       document.getElementById('large_youtube').style.display = "";    
    } else if(event.data == YT.PlayerState.PAUSED) {
       document.getElementById('large_youtube').style.display = "none";           
    }
     else if(event.data == YT.PlayerState.ENDED){
      document.getElementById('large_youtube').style.display = "none";
      document.getElementById('big_video_div').style.display = "block";     
     }
    }

    function stopVideo() {
      player.stopVideo();
    }
    


function start_video(vid) {
    video_id = vid;
    document.getElementById('large_youtube').style.display = "";
    onYouTubeIframeAPIReady();
    document.getElementById('large_youtube').src = "http://www.youtube.com/embed/"+vid+"?wmode=transparent";
    document.getElementById('big_video_div').style.display = "none";     
    document.getElementById('afterVideoImg').src = videoData[vid];
}

function hide_video() { 
    document.getElementById('big_video_div').style.display = 'none'; 
}

function replayVideo() {
    document.getElementById('big_video_div').style.display = "none"; 
  start_video(video_id);
}










function start_carousel(id){
if(/glaxe_wax/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 1 + ')').addClass('active');
}
if(/shock_wax/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 2 + ')').addClass('active');}
if(/matt_wax/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 3 + ')').addClass('active');}
if(/amoeba_wax/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 4 + ')').addClass('active');}
if(/yellow_pop/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 2 + ')').addClass('active');}
if(/blue_pop/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 4 + ')').addClass('active');}
document.getElementById("myCarousel").style.display = "block";
/*document.getElementById("deo_bg").style.display = "none";
+document.getElementById("deo_bg2").style.display = "block";
+document.getElementById("myCarousel").style.display = "block";
+document.getElementById("deo_text").style.display = "none";
+document.getElementById("deo_main_div").style.display = "none";
+document.getElementById("youtube_video").style.display = "none";*/
$('#myCarousel').carousel({
  interval: 10000
});
$('#myCarousel').carousel('cycle');
};

$(".open_popup").click(function(){
 
  $("#wax_options").hide();
  $("#wax_names").hide();
  $("#screen_5").attr('class', 'wax_type_display');
});

</script>
