<!DOCTYPE html>
<html>
<head>
  <title>
    SetWet | Irresistible style
    <% if(false) %>
    <%= (controller.action_name == "index" || controller.action_name == "home")? "setwet" : controller.action_name.capitalize %>
    <% end %>
  </title>
  <meta property="og:site_name" content="SetWet Styling" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="SetWet | Irresistible style" />
  <meta property="og:description" content="Set Wet Styling enables you to reach out to one of the most sought after range of international styling products." />
  <meta property="og:url" content="http://www.setwetstyling.com" />
  <meta property="og:image" content="http://www.setwetstyling.com/assets/bg_1.jpg" />
  

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38526638-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
<div id="main">
<%= yield %>
</div>

<div style="clear:both"></div>
<% if(false) %>
<div class="footer-display" style="padding-top:300px;">
  <%= render "layouts/footer.html.erb" %>
</div>  
<% end %>


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39385486-1']);
  _gaq.push(['_setDomainName', 'likemyworld.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


<% if(controller.action_name.to_s == "shop") %>
<!-- Google Code for Remarketing tag -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 991257457;
var google_conversion_label = "YJ92COf85AQQ8cbV2AM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/991257457/?value=0&amp;label=YJ92COf85AQQ8cbV2AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<% end %>

</body>
</html>

