<!DOCTYPE html>
<html>
<head>
  <title>SetwetStyle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main">
<%= yield %>
</div>

<div style="clear:both"></div>
<div class="footer-display" style="padding-top:300px;">
  <%= render "layouts/footer.html.erb" %>
</div>  
</body>
</html>
