<!DOCTYPE html>
<html>
<head>
  <title>
    SetWet | Irresistible style
    <% if(false) %>
    <%= (controller.action_name == "index" || controller.action_name == "home")? "setwet" : controller.action_name.capitalize %>
    <% end %>
  </title>
  <meta property="og:site_name" content="SetWet Styling" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="SetWet | Irresistible style" />
  <meta property="og:description" content="Set Wet Styling enables you to reach out to one of the most sought after range of international styling products." />
  <meta property="og:url" content="http://www.setwetstyling.com" />
  <meta property="og:image" content="http://www.setwetstyling.com/assets/bg_1.jpg" />
  

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38526638-2']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
<div id="main">
<%= yield %>
</div>

<div style="clear:both"></div>
<% if(false) %>
<div class="footer-display" style="padding-top:300px;">
  <%= render "layouts/footer.html.erb" %>
</div>  
<% end %>
</body>
</html>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39385486-1']);
  _gaq.push(['_setDomainName', 'likemyworld.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

